<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label for="c-type" class="control-label col-xs-12 col-sm-2">{:__('Type')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="col-xs-12 col-sm-8">
                <div class="form-inline" data-toggle="cxselect" data-selects="first,second,last">
                    <select class="first form-control" name="" data-url="ajax/category?pid=0"></select>
                    <select class="second form-control" name="" data-url="ajax/category" data-query-name="pid"></select>
                    <select class="last form-control" name="row[type]" data-url="ajax/category_papers" data-query-name="pid"></select>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="c-name" class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" data-rule="required" class="form-control" name="row[name]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label for="c-time" class="control-label col-xs-12 col-sm-2">{:__('Time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-time" data-rule="required" class="form-control" name="row[time]" type="number" data-tip="单位：分钟">
        </div>
    </div>
    <div class="form-group">
        <label for="c-totalscore" class="control-label col-xs-12 col-sm-2">{:__('Totalscore')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-totalscore" data-rule="required" class="form-control" name="row[totalscore]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label for="c-radio" class="control-label col-xs-12 col-sm-2">{:__('Radio')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-radio" class="form-control" name="row[radio]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label for="c-radio_score" class="control-label col-xs-12 col-sm-2">{:__('Radio_score')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-radio_score" class="form-control" step="0.1" name="row[radio_score]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label for="c-checkbox" class="control-label col-xs-12 col-sm-2">{:__('Checkbox')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-checkbox" class="form-control" name="row[checkbox]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label for="c-checkbox_score" class="control-label col-xs-12 col-sm-2">{:__('Checkbox_score')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-checkbox_score" class="form-control" step="0.1" name="row[checkbox_score]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label for="c-judge" class="control-label col-xs-12 col-sm-2">{:__('Judge')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-judge" class="form-control" name="row[judge]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label for="c-judge_score" class="control-label col-xs-12 col-sm-2">{:__('Judge_score')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-judge_score" class="form-control" step="0.1" name="row[judge_score]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label for="c-rule1_end" class="control-label col-xs-12 col-sm-2">{:__('Rule1_end')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-rule1_end" data-rule="required" class="form-control" name="row[rule1_end]" type="number" data-tip="单位：%百分比">
        </div>
    </div>
    <div class="form-group">
        <label for="c-rule1_name" class="control-label col-xs-12 col-sm-2">{:__('Rule1_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-rule1_name" data-rule="required" class="form-control" name="row[rule1_name]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label for="c-rule2_start" class="control-label col-xs-12 col-sm-2">{:__('Rule2_start')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-rule2_start" data-rule="required" class="form-control" name="row[rule2_start]" type="number" data-tip="单位：%百分比">
        </div>
    </div>
    <div class="form-group">
        <label for="c-rule2_end" class="control-label col-xs-12 col-sm-2">{:__('Rule2_end')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-rule2_end" data-rule="required" class="form-control" name="row[rule2_end]" type="number" data-tip="单位：%百分比">
        </div>
    </div>
    <div class="form-group">
        <label for="c-rule2_name" class="control-label col-xs-12 col-sm-2">{:__('Rule2_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-rule2_name" data-rule="required" class="form-control" name="row[rule2_name]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label for="c-rule3_start" class="control-label col-xs-12 col-sm-2">{:__('Rule3_start')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-rule3_start" data-rule="required" class="form-control" name="row[rule3_start]" type="number" data-tip="单位：%百分比">
        </div>
    </div>
    <div class="form-group">
        <label for="c-rule3_end" class="control-label col-xs-12 col-sm-2">{:__('Rule3_end')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-rule3_end" data-rule="required" class="form-control" name="row[rule3_end]" type="number" data-tip="单位：%百分比">
        </div>
    </div>
    <div class="form-group">
        <label for="c-rule3_name" class="control-label col-xs-12 col-sm-2">{:__('Rule3_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-rule3_name" data-rule="required" class="form-control" name="row[rule3_name]" type="text">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
