
<div class="form-group">
    <label for="c-answer" class="control-label col-xs-12 col-sm-2" style="text-align: right;">{:__('上传视频')}:</label>
    <div class="col-xs-12 col-sm-8">
        
        <form id="sc" action="/admin/ajax/upvideo" method="post" enctype="multipart/form-data" target="shangchuan" >
            <div id="yl">
                <span class="upspan" >上传视频</span>
                <input type="file" name="file" id="file" onchange="document.getElementById('sc').submit()" />  <!-- 当点击上传就会提交表单内容 -->
                <img src="{if $row.video != ""}/assets/img/videos.jpg{/if}" alt="" id="videotp" ><span id="explain" style="padding: 10px;color: green;display: none;">上传成功^_^</span>
            </div>
        </form>
        <iframe style="display:none" name="shangchuan" id="shangchuan"></iframe>
    </div>
</div>



<style>
.upspan{position: absolute;color: #fff;background-color: #18bc9c;width: 75px; height: 30px;line-height: 30px;text-align: center;border-radius: 5px;left: 10px;}
#fileupload{opacity: 0;}
.vids{width: 118px;height: 118px;margin-top: 16px;}
.vids img{width: 118px;}
#yl{ height:30px;margin-bottom: 20px;}  /*定义上传文件外层div样式 ，默认背景图片，大小*/
#file{width: 70px;float: left; opacity: 0; /* z-index: 9; */position: relative;left: -5px;height: 30px;cursor: pointer;}    /*定义上传文件的标签本身样式，标签的大小和外层div一致*/
#videotp{width: 30px;margin-left: 20px;}
</style>

<script charset="utf-8" src="__CDN__/assets/js/kindeditor/jquery-1.7.1.min.js"></script>
<link rel="stylesheet" href="__CDN__/assets/js/kindeditor/themes/default/default.css" />
<script charset="utf-8" src="__CDN__/assets/js/kindeditor/kindeditor-all.js"></script>
<script charset="utf-8" src="__CDN__/assets/js/kindeditor/lang/zh_CN.js"></script>

<script>
    var editor;
    KindEditor.ready(function(K) {
        editor = KindEditor.create('#ueditors',{allowImageUpload:true,resizeType : 1,width:"100%",height:"360px"});

    });
    //回调函数,调用该方法传一个文件路径，该变背景图
function showimg(url)
{
    img = '__CDN__/assets/img/videos.jpg';
    $("#videotp").attr('src',img); 
    $("#videos").val(url)
    $("#videotp").css("width","30px");
    $("#explain").show();
}
</script>