<form id="add-form" class="form-horizontal form-ajax" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <label for="c-type" class="control-label col-xs-12 col-sm-2">{:__('Type')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select id="c-type" data-rule="required" class="form-control selectpicker" name="row[type]">
                {foreach name="typeList" item="vo"}
                <option value="{$key}" {in name="key" value=""}selected{/in}>{$vo}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="c-title" class="control-label col-xs-12 col-sm-2">{:__('Title')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-title" class="form-control summernote edit" rows="5" name="row[title]" cols="50"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="c-options" class="control-label col-xs-12 col-sm-2">{:__('Options')}:</label>
        <div class="col-xs-12 col-sm-8">
            A:<input id="c-options" type="text" name="row[options][A]" value="" class="form-control"/>
            B:<input id="c-options" type="text" name="row[options][B]" value="" class="form-control"/>
            C:<input id="c-options" type="text" name="row[options][C]" value="" class="form-control"/>
            D:<input id="c-options" type="text" name="row[options][D]" value="" class="form-control"/>
            E:<input id="c-options" type="text" name="row[options][E]" value="" class="form-control"/>
        </div>
    </div>
    <div class="form-group">
        <label for="c-answer" class="control-label col-xs-12 col-sm-2">{:__('Answer')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-answer" type="text" name="row[answer]" value="" class="form-control" data-tip="例：单选:A 多选:A,B,C  判断:1正确,2错误"/>
        </div>
    </div>
    <div class="form-group">
        <label for="c-analysis" class="control-label col-xs-12 col-sm-2">{:__('Analysis')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-analysis" class="form-control summernote edit" rows="5" name="row[analysis]" cols="50"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="c-difficulty" class="control-label col-xs-12 col-sm-2">{:__('Difficulty')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-difficulty" class="form-control" step="0.1" name="row[difficulty]" type="number">
        </div>
    </div>
    <input type="hidden" name="row[category]" value="" />
    <div class="form-group">
        <label for="c-category" class="control-label col-xs-12 col-sm-2">{:__('Category')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="form-inline" data-toggle="cxselect" data-selects="one,two,tree,four,five">
                <select class="one form-control" name="category[]" data-url="ajax/category?pid=0"></select>
                <select class="two form-control" name="category[]" data-url="ajax/category" data-query-name="pid"></select>
                <select class="tree form-control" name="category[]" data-url="ajax/category" data-query-name="pid"></select>
                <select class="four form-control" name="category[]" data-url="ajax/category" data-query-name="pid"></select>
                <select class="five form-control" name="category[]" data-url="ajax/category" data-query-name="pid"></select>
            </div>
        </div>
    </div>
    {foreach name="imageList" item="vo"}
    <div class="form-group">
        <label for="c-images{$key}" class="control-label col-xs-12 col-sm-2">{:__($vo)}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-images{$key}" class="form-control" size="50" name="row[images][{$key}]" type="text">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-images{$key}" class="btn btn-danger plupload" data-input-id="c-images{$key}" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="true" data-preview-id="p-images{$key}"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-images{$key}" class="btn btn-primary fachoose" data-input-id="c-images{$key}" data-mimetype="image/*" data-multiple="true"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-images{$key}"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-images{$key}"></ul>
        </div>
    </div>
    {/foreach}

    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
