<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label for="c-type" class="control-label col-xs-12 col-sm-2">{:__('Type')}:</label>
        <div class="col-xs-12 col-sm-8">

            <select id="c-type" data-rule="required" class="form-control selectpicker" name="row[type]">
                {foreach name="typeList" item="vo"}
                <option value="{$key}" {in name="key" value=""}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label for="c-pid" class="control-label col-xs-12 col-sm-2">{:__('Pid')}:</label>
        <div class="col-xs-12 col-sm-8">

            <div class="form-inline" data-toggle="cxselect" data-selects="one,two,tree,four,five">
                <select class="one form-control" name="row[pid][]" data-url="ajax/category?pid=0"></select>
                <select class="two form-control" name="row[pid][]" data-url="ajax/category" data-query-name="pid"></select>
                <select class="tree form-control" name="row[pid][]" data-url="ajax/category" data-query-name="pid"></select>
                <select class="four form-control" name="row[pid][]" data-url="ajax/category" data-query-name="pid"></select>
                <select class="five form-control" name="row[pid][]" data-url="ajax/category" data-query-name="pid"></select>
            </div>

        </div>
    </div>
    <div class="form-group">
        <label for="c-name" class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" data-rule="required" class="form-control" name="row[name]" type="text" data-tip="如果属于考试功能,请在下方选择“是”">
        </div>
    </div>
    <div class="form-group">
        <label for="c-accounted" class="control-label col-xs-12 col-sm-2">{:__('Accounted')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-accounted" class="form-control" name="row[accounted]" type="number" value="0">
        </div>
    </div>
    <div class="form-group">
        <label for="c-status" class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[status]', ['normal'=>__('Normal'), 'hidden'=>__('Hidden')])}
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
